# Generated with Atomizr – https://atom.io/packages/atomizr
".source.html.php":
	belm:
		prefix: "belm"
		body: '''
			public function ${1:relationship}()
			{
			    return \\$this->belongsToMany(${2:${1/^(.+)$/(?1\\u$1:)/g}}::class${3:, '${4:field_name}'});
			}$0
		'''
